:root {
    --animation-time: 2s; 
}

#text {
  font-weight: bold;
  font-size: 2em;
}

.not-found-area{
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-found {
  color: #24292E;
  font-size: 128px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    display: flex;
    align-items: center;
    .string {
      position: absolute;
      margin-left: 68px;
      margin-top: 50px;
      width: 10px;
      animation: pull .5s ease-in-out;
      opacity: 0;

      span {
        display: block;
        height: 5px;
        width: 5px;
        background-color: #24292E;
        border-radius: 50%;
      }
    }

    svg {
      height: 110px;
      width: 110px;
      z-index: 1;      
      fill: #24292E;
      transition: opacity .1s;
    }
  }
}

@keyframes pull {
  0% {
    margin-top: 50px;
    opacity: 1;
  }
  80% {
    margin-top: 60px;
  }
  99% {
    opacity: 1;
  }
  100% {
    margin-top: 50px;
  }
}